.alert-info {
    background: #ccffff;
    border: 2px solid #d1d1d1;

    display: flex;
    justify-content: center;
    height: 3em;
}

.alert-info>a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
}

.nav-links {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
}

.nav-links>li {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    background: #cccccc;
    margin: .5em 0;
}
.nav-links a {
    color: blue;
}

.header-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media screen and (min-width:576px) and (max-width:750px)

}
img {
    max-width: 100%;
    height: auto;
}

.main {
margin-bottom: 3em;



}

.sub-section {
    font-style: italic;
    margin-bottom: 4em;
}

#social-media-links {


}
/*@media screen and (min-width:576px) {*/

/*}*/